{% extends 'layouts/base.html' %} {% block title %} Tables {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
<style>
  .bg-gradient-primary {
    background-image: linear-gradient(310deg, #535353 0%, #1b1b1b 100%);
  }
  .aprobal {
    background-color: orange;
    text-align: center;
    border-radius: 15px;
    color: white;
  }
</style>
{% endblock stylesheets %} {% block content %}
<!--   -->
{% load static %}
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Crear Caso</h5>
        <button
          type="button"
          class="btn-close text-dark"
          data-bs-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="/tableCaso/createCaso/" method="POST">
          {% csrf_token %} {{ form.as_p }}

          <div class="modal-footer">
            <button
              type="button"
              class="btn bg-gradient-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
            <button type="submit" class="btn bg-gradient-primary">
              Crear Caso
            </button>
          </div>
        </form>

        <!--


        -->
      </div>
    </div>
  </div>
</div>

<div class="container-fluid py-4">
  <div class="row">
    <div class="col-12">
      <div class="card mb-4">
        <div class="card-header pb-0">
          <h6>Tabla de Casos</h6>

          <!-- Boton para Modal de Crear Caso-->
          <button
            type="button"
            class="btn bg-gradient-primary"
            data-bs-toggle="modal"
            data-bs-target="#exampleModal"
          >
            Crear Caso <i class="ni ni-fat-add"></i>
          </button>
        </div>
        <div class="card-body px-0 pt-0 pb-2">
          <div class="table-responsive p-0">
            <table class="table align-items-center mb-0">
              <thead>
                <tr>
                  <th
                    class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 align-middle text-center"
                  >
                    Estado
                  </th>
                  <th
                    class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 align-middle text-center"
                  >
                    ID
                  </th>
                  <th
                    class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 align-middle text-center"
                  >
                    Organizacion
                  </th>
                  <th
                    class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 align-middle text-center"
                  >
                    Tramite
                  </th>
                  <th
                    class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 align-middle text-center"
                  >
                    Aprobaciones
                  </th>
                  <th
                    class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 align-middle text-center"
                  >
                    Fecha Inicio
                  </th>
                  <th
                    class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 align-middle text-center"
                  >
                    Fecha Fin
                  </th>
                  <th
                    class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 align-middle text-center"
                  >
                    Adjuntos
                  </th>
                  <th
                    class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 align-middle text-center"
                  >
                    Acciones
                  </th>
                </tr>
              </thead>
              <tbody>
                {% for caso in casos %}
                <!--    -->

                <!--    -->
                <tr>
                  {% if caso.status == 'ACTIVO' %}
                  <td class="align-middle text-center text-sm">
                    <span class="badge badge-sm bg-gradient-success">
                      {{caso.status}}</span
                    >
                    <!--    -->
                    {% else %}
                  </td>

                  <td class="align-middle text-center text-sm">
                    <span class="badge badge-sm bg-gradient-danger">
                      {{caso.status}}</span
                    >
                    {% endif %}
                  </td>
                  <td class="align-middle text-center">
                    <h7>{{caso.id}} </h7>
                  </td>
                  <td class="align-middle text-center">
                    <h7> {{caso.organizacionName}} </h7>
                  </td>

                  <td class="align-middle text-center">
                    <h7> {{caso.tramite}} </h7>
                  </td>

                  <td class="align-middle text-center">
                    {% for aprobacion in caso.aprobaciones %}
                    <div class="row">
                      <div class="col">
                        {% if aprobacion.status == 'ABI' %}
                        <span style="font-size: 1em; color: green"
                          ><i class="fas fa-check-circle"></i
                        ></span>
                        {% else %}
                        <span style="font-size: 1em; color: red"
                          ><i class="fas fa-times-circle"></i
                        ></span>
                        {% endif %}
                      </div>
                      <div class="col">
                        <span>{{aprobacion.contactoQueAprueba.nombre}}</span>
                      </div>
                    </div>
                    {% endfor %}
                  </td>

                  <td class="align-middle text-center">
                    <h7> {{caso.fecha_inicio}} </h7>
                  </td>

                  <td class="align-middle text-center">
                    <h7> {{caso.fecha_fin}} </h7>
                  </td>

                  <td class="align-middle text-center">
                    <a href="{% url 'file' id=caso.id %}">
                      <span style="font-size: 2em; color: red">
                        <i class="far fa-file-pdf"></i>
                      </span>
                    </a>
                  </td>

                  <td class="align-middle text-left">
                    <!--
                    <a
                      href="%url 'updateCaso' id=caso.idCaso %"
                      class="btn btn-icon btn-2 btn-secondary"
                    >
                      Editar
                      <span class="btn-inner--icon"
                        ><i class="ni ni-fat-add"></i
                      ></span>
                    </a>
                    -->

                    <div
                      class="modal fade"
                      id="exampleModal{{caso.id}}"
                      tabindex="-1"
                      role="dialog"
                      aria-labelledby="exampleModalLabel"
                      aria-hidden="true"
                    >
                      <div
                        class="modal-dialog modal-dialog-centered"
                        role="document"
                      >
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">
                              Crear Caso {{caso.tramite}}
                            </h5>
                            <button
                              type="button"
                              class="btn-close text-dark"
                              data-bs-dismiss="modal"
                              aria-label="Close"
                            >
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <form action="/tableCaso/createCaso/" method="POST">
                              {% csrf_token %} {{ form.as_p }}

                              <div class="modal-footer">
                                <button
                                  type="button"
                                  class="btn bg-gradient-secondary"
                                  data-bs-dismiss="modal"
                                >
                                  Close
                                </button>
                                <button
                                  type="submit"
                                  class="btn bg-gradient-primary"
                                >
                                  Crear Caso
                                </button>
                              </div>
                            </form>

                            <!--


        -->
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="container text-center">
                      <div class="row d-flex justify-content-around">
                        <div class="col">
                          <a href="{% url 'stopCaso' id=caso.id %} ">
                            <span style="font-size: 1em; color: black">
                              <i class="fas fa-stop"></i>
                            </span>
                          </a>

                          <span style="font-size: 1em; color: black">
                            <i class="fas fa-edit"></i>
                          </span>
                          <a href="{% url 'deleteCaso' id=caso.id %}">
                            <span style="font-size: 1em; color: black">
                              <i class="fas fa-trash"></i> </span
                          ></a>
                        </div>
                        <div class="w-100"></div>
                        <a href="" class="link-aprobal">
                          <div class="col aprobal">
                            <i class="far fa-envelope"></i>Remind Aproval
                          </div>
                        </a>
                      </div>
                    </div>
                  </td>
                </tr>

                <!--    -->{% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% include "includes/footer.html" %}
</div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}{% endblock javascripts %}
